<div class="container">
  <div class="row">
     <div class="row-fluid">
         <div class="container text-center-about">
              <h1 class="header-about"> About Me </h1>
         </div>
      </div> 
    </div>
</div>

<div class="container home-signup-links">
  <div class="row">
    <div class="about-image-container"><img class="about-image" src="/assets/head_shot.jpg";> 
    </div>
      <p class="about-text">
        <p class="qualifications">My experience includes 14 years as a business communication college
        instructor, speaker, and consultant, specializing in topics from presentation
        skills to business writing to nonverbal communication.
        
        <h2 class="subheading-about">My Qualifications</h2>
          <li class="qualifications">B.A. in Communication Studies from Indiana University Purdue 
          University Indianpolis, member of the debate team.</li>
          <li class="qualifications">Master's degree in Organizational Management from Pfeiffer University
          in Charlotte, NC</li>
        </p>
  
        <h2 class="subheading-about">Client List</h2>
          <li class="client">Belmont Abbey College</li>
          <li class="client">Central Piedmont Community College</li>
          <li class="client">Allstate Insurance</li>
          <li class="client">Christ The King Catholic High School</li>
        </div>
      </div>
    </div>
  </div>
</div>

