<div class="container">
  <div class="row">
       <div class="container text-center">
            <h1> About Me </h1>
        </div>


<div class="about-image"> <img src="http://i66.tinypic.com/2v2k5cw.jpg" alt="Christine
Richards" class="about-image"></a>
</div>

  <h3 class="body">
    
    <p>My experience includes 14 years as a business communication college
    instructor, speaker, and consultant, specializing in topics from presentation
    skills to business writing to nonverbal communication.
    <li>B.A. in Communication Studies from Indiana University Purdue 
    University Indianpolis, member of the debate team.</li>
    <li>Master's degree in Organizational Management from Pfeiffer University
    in Charlotte, NC</li>
    </p>
    
  </h3>
    </div>
</div>