<div class="container">
  <div class="row">
    <div class="row-fluid">
     <div class="container text-center">
       <h1 class="header"> Business Etiquette</h1>
         <hr>
     </div>
    </div> 
  </div>
</div>

<div class="container home-signup-links">
  <div class="row">
    <p class="top-paragraph">
      This is the business etiquette page.
    </p>
  
  <div class="row">
    <div class="col-md-4">
      <div class="course-image"><img class="course-image" src="/assets/etiquette.jpg">
      </div>
    </div>
  
  
 </div>
</div>