<div class="container">
  <div class="row">
    <div class="row-fluid">
     <div class="container text-center">
       <h1 class="header"> Business Writing</h1>
         <hr>
     </div>
    </div> 
  </div>
</div>

<div class="container home-signup-links">
  <div class="row">
    <p class="top-paragraph">
      This page contains information on the Business Writing workshop.
    </p>
  
  <div class="row">
    <div class="col-md-4">
      <div class="writing-image"><img class="writing-image" src="/assets/writing.jpg"></a>
      </div>
    </div>
  
  
 </div>
</div>