<div class="container">
  <div class="row">
    <div class="row-fluid">
     <div class="container text-center">
       <h1 class="header"> Business Writing</h1>
         <hr>
     </div>
    </div> 
  </div>
</div>

<center>
  <div class="row">
    <div class="workshop-image"><img class="workshop-image" img src="https://crcommunications.s3.us-east-2.amazonaws.com/Offerings-+Business+Writing.jpg">
  </div>
  
  <div class="row">
    <p class="course-summary">This course will teach participants to write audience-centered, 
    clear, and concise messages using typical business formats. Particular focus on the writing process, 
    organization, and editng to produce routine, negative, and persuasive business messages.</p>
  </div>
  
  <div class="row">
      <h2 class="course-topic"><strong>You Will Learn About:</strong></h2>
  </div>
  
  <div class="row">
    <h4 class="course-subtopic">
      <ol class="course-list">
         <li>Business Message Planning </li>
         <li>Business Message Writing </li>
         <li>Edit and Proofreading </li>
         <li>Format Tips</li>
         <li>Content Strategies</li>
         <li>Routine Messages</li>
         <li>Negative Messages</li>
         <li>Persuasive Messages</li>
      </ol>
    </h4>
  </div>
  
  <div class="course-summary">
    <p>Interesting in increasing your business writing skills to communicate professional messages in a clear and understanable way? Contact Us.</p>
  </div>
  
  
  </center>
</div>
