<div class="home-callout">
  <div class="home-background-image">
    <div class="container home-signup-links">
      <div class="row">
        <div class="header-box">
          <h1 class="text-upper"> Business communication training</h1>
          <p class="paragraph-upper"> Placeholder text</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer-container">
  <h1> test</h1>
  <p>let's test this</p>
  <p>let's test this</p>
  <p>let's test this</p>
  <p>let's test this</p>
  <p>let's test this</p>
  <p>let's test this</p>
</div>




