<div class="home-callout text-center container-fluid">
  <h1>Welcome to C. R. Communication Strategies</h1>
  <h3>Let your voice be heard.</h3>
</div>
<div class="container home-signup-links">
  <div class="row">
  
<div class="home-background"> <img src="http://i67.tinypic.com/2yyuluq.jpg" alt="
Home page" class="home-background"></a>
</div>


</div>
