<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">


   <div class="container home-signup-links">
      <div class="row">
        <div class="header-box">
          <h1 class="text-upper"> <img src="/assets/staff_meeting.jpg";> Business communication training</h1>  
        </div>
           <p class="paragraph-upper"> Hone your business writing and presentation skills.</p>
      </div>
    </div>

  <p> 

  </p>
  
    
          <%= link_to "Offerings", offerings_url, class: 'btn btn-success btn-lg btn-block' %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
        <h2 class="lower-heading"> Business Writing</h1>
        <p> Learn the do's and don'ts of communicating </p>
    </div>
    

    <div class="col-md-3">
        <h1 class="lower-heading"> Public Speaking</h1>
        <p> 80% of what you say is through your body language.</p>
    </div> 
 
    <div class="col-md-3">
      <h1 class="lower-heading"> Resume Building</h1>
      <p> Learn what to include or leave out when applying for jobs.</p>
    </div>
    
     <div class="col-md-3">
      <h1 class="lower-heading"> Time Management</h1>
      <p> How should you be spending your time?</p>
    </div>
  </div>

</div>

