<div class="container">
  <div class="row">
     <div class="row-fluid">
         <div class="container text-center">
              <h1 class="header"> Class Offerings</h1>
              <hr>
         </div>
      </div> 
    </div>
</div>

<div class="container home-signup-links">
  <div class="row">
    <p class="top-paragraph">
      C. R. Communications offers several instructional events to build business writing and presentation skills.
    </p>

<div class="row">
  <div class="col-md-4">
        <div class="course-image"><img class="first-course-image" src="/assets/office.jpg">
        </div>
      </div>

 <div class="col-md-4">
      <div class="course-image"><img class="third-course-image" src="/assets/office.jpg">
   </div>
  </div>

 <div class="col-md-4">
      <div class="course-image"><img class="third-course-image" src="/assets/office.jpg">
      </div>
    </div>


<div class="row">
  
  
  
</div>


<button class="accordion">Nonverbal Communication</button>
<div class="panel">
  <p>What you don't say says a lot about you. Watch your gestures.</p>
    
</div>

<button class="accordion">Group Dynamics</button>
<div class="panel">
  <p>90% of employers indicate they want their employees to demonstrate group competency</p>
</div>

<button class="accordion">Intercultural Communication</button>
<div class="panel">
  <p>Intercultural Communication is a discipline that studies communication 
  across different cultures and social groups, or how culture affects 
  communication</p>
</div>

<button class="accordion">Editing</button>
<div class="panel">
  <p>Avoid proofreading mistakes to come across more credible</p>
</div>

<button class="accordion">Interviewing</button>
<div class="panel">
  <p>Learn what to ask and what not to ask while interviewing</p>
</div>

<button class="accordion">Business Etiquette</button>
<div class="panel">
  <p>How you should act while on lunch with your boss</p>
</div>

<button class="accordion">Business Writing</button>
<div class="panel">
  <p>What should be capitalized, etc?</p>
</div>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>
</div>
</body>
</html>


