<div class="container">
  <div class="row">
     <div class="row-fluid">
         <div class="container text-center">
              <h1 class="header"> Class Offerings</h1>
              <hr>
         </div>
      </div> 
    </div>
</div>

<div class="container home-signup-links">
  <div class="row">
    <p class="top-paragraph">
      C. R. Communications offers several instructional events to build business writing and presentation skills.
    </p>

  <div class="row">
    <div class="col-md-4">
      <div class="course-image"><img class="course-image" src="/assets/publicspeaking.jpg">
      </div>
    </div>
  
   <div class="col-md-4">
        <div class="course-image"><img class="course-image" src="/assets/nonverbal.jpg">
     </div>
    </div>
  
   <div class="col-md-4">
        <div class="course-image"><img class="course-image" src="/assets/groupdynamics.jpg">
        </div>
      </div>
  
  <div class="row">
    <div class="col-md-4">
      <h1 class="blue-header">Public Speaking </h1>
        <h3 class="offerings-info">Learn proper techniques for speaking in front of an audience. Body language is key.</h3>
      </div>
      
      <div class="col-md-4">
      <h1 class="blue-header">Nonverbal Communication </h1>
        <h3 class="offerings-info">What you don't say says a lot about you. Watch your gestures.</h3>
      </div>
  
   <div class="col-md-4">
      <h1 class="blue-header">Group Dynamics </h1>
        <h3 class="offerings-info">90% of employers indicate they want their employees to demonstrate group competency.</h3>
      </div>
  
  <div class="row">
    <div class="col-md-4">
          <div class="course-image"><img class="course-image" src="/assets/intercultural.jpg">
          </div>
        </div>
  
   <div class="col-md-4">
        <div class="course-image"><img class="course-image" src="/assets/editing.jpg">
     </div>
    </div>
  
   <div class="col-md-4">
        <div class="course-image"><img class="course-image" src="/assets/interview.jpg">
        </div>
      </div>
  
  <div class="row">
    <div class="col-md-4">
      <h1 class="blue-header">Intercultural Communication </h1>
        <h3 class="offerings-info">Intercultural Communication is a discipline that studies communication 
    across different cultures and social groups, or how culture affects 
    communication.</h3>
      </div>
      
      <div class="col-md-4">
      <h1 class="blue-header">Editing </h1>
        <h3 class="offerings-info">Avoid proofreading mistakes to come across more credible.</h3>
      </div>
  
   <div class="col-md-4">
      <h1 class="blue-header">Interviewing </h1>
        <h3 class="offerings-info">Learn what to ask and what not to ask while interviewing.</h3>
      </div>
  </div>
  
  <div class="row">
    <div class="col-md-4">
        <div class="course-image"><img class="course-image" src="/assets/ettiquette.jpg">
        </div>
    </div>
  
    <div class="col-md-4">
      <div class="course-image"><img class="course-image" src="/assets/writing.jpg">
      </div>
    </div>
  </div>
  
  <div class="row">
   <div class="col-md-4">
      <h1 class="blue-header">Business Etiquette </h1>
        <h3 class="offerings-info">How you should act while on lunch with your boss.</h3>
      </div>
  
   <div class="col-md-4">
      <h1 class="blue-header">Business Writing </h1>
        <h3 class="offerings-info">Active, not passive voice, etc.</h3>
      </div>
</div>