<div class="container text-center">
    <h1> Content Offerings </h1>
    <p><li>Public Speaking</li>
    <li>Nonverbal Communication</li>
    <li>Group Dynamics</li>
    <li>Intercultural Communication</li>
    <li>Editing</li>
    <li>Interviewing</li>
    <li>Business Etiquette</li>
    <li>Business Writing</li>
    </p>
    
       <h2>HTML Image</h2>
<img src="img_girl.jpg" alt="Girl in a jacket" width="500" height="600">

</div>