<div class="container">
  <div class="row">
    <div class="row-fluid">
     <div class="container text-center">
       <h1 class="header"> Public Speaking</h1>
         <hr>
     </div>
    </div> 
  </div>
</div>

<div class="row">
  <div class="workshop-image"><img class="workshop-image" src="/assets/publicspeaking.jpg"></a>
  </div>
</div>

<div class="row">
  <p class="course-summary">This is the public speaking page.</p>
</div>

<div class="row">
  <p class="course-summary">This public speaking class will prepare you on how to speak <strong>confidently</strong> in front of a group.</p>
</div>
