<div class="container">
  <div class="row">
    <div class="row-fluid">
     <div class="container text-center">
       <h1 class="header"> Public Speaking</h1>
         <hr>
     </div>
    </div> 
  </div>
</div>

<div class="container home-signup-links">
  <div class="row">
    <p class="top-paragraph">
      This is the public speaking page.
    </p>
  
  <div class="row">
    <div class="col-md-4">
      <a href="<%= pages_public_speaking_path %>"><div class="course-image"><img class="course-image" src="/assets/publicspeaking.jpg"></a>
      </div>
    </div>
  
  
 </div>
</div>